<!-- Normal tools toolbar -->
<ul class="toolbar">
  <li
    class="material-symbols-outlined"
    *ngFor="let item of normalTools"
    [class.active]="tool === item.tool"
    (click)="setTool(item.tool)"
    title="{{ item.tool }}"
  >
    {{ item.icon }}
  </li>
</ul>

<!-- Shapes slider toolbar -->
<div class="slider-toolbar">
  <div
    class="slider-item material-symbols-outlined"
    *ngFor="let item of shapeTools"
    [class.active]="tool === item.tool"
    (click)="setTool(item.tool)"
    title="{{ item.tool }}"
  >
    {{ item.icon }}
  </div>
</div>
